* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
:root {
    --dark-primary: #1C2230;
    --dark-secondary: #181E2A;
    --dark-third: #0C1524;
    --dark-active: #0B16C5;

    --light-primary: #F4F4F4;
    --light-secondary: #90959B;
    
    --animate-duration: 2000ms;
}

body {
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------------------- */
/*  COLORES                                        */
/* ----------------------------------------------- */

.dark-primary {
    background-color: var(--dark-primary);
}

.dark-secondary {
    background-color: var(--dark-secondary);
}

.dark-third {
    background-color: var(--dark-third);
}

.navbar-movil {
    background-color: none;
}

@media screen and (max-width: 430px) {

    .navbar-movil {
        background-color: var(--dark-primary);
    }
}

/* ----------------------------------------------- */
/*  HEADER PERFIL                                  */
/* ----------------------------------------------- */

.bg-circuito {
    background-image: url(../img/others/bg-circuito.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

.perfil {
    width: 20%;
    border: 4px solid var(--dark-active);
    padding: 6px;
}

.perfil-links {
    color: white;
    font-size: 200%;
    transition: all 0.2s;
}
  
.perfil-links:hover {
    color: var(--dark-active);
    transition: all 0.2s;
}

@media screen and (max-width: 430px) {

    .perfil {
      width: 50%;
    }
}

/* ----------------------------------------------- */
/*  TECNOLOGIAS                                    */
/* ----------------------------------------------- */

.div-primary::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background: var(--dark-active);
}

@media screen and (max-width: 430px) {
    
    .div-primary::after {
        width: 80%;
    }
}